.link-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0.6em 0;
  }

  // Add margin when followed by a subheading
  &+h2,
  &+h3,
  &+h4,
  &+h5,
  &+h6 {
    margin-top: 1.2em;
  }
}
