.section {
  .section__heading {
    border-bottom: 2px solid $grey-1;
    margin: 10px 0;

    @include media(tablet) {
      margin: 20px 0;
    }
  }

  .section__content {
    @include copy-19;
  }
  .section__content--smaller {
    @include copy-16;

    /*a[rel="external"] {
      @include external-link-default;
      @include external-link-14;
      @include media(tablet) {
        @include external-link-16;
      }
    }*/
  }
}
