/* Global footer */

#footer {
  background-color: $footer-background;
  border-top: 1px solid $footer-border-top;

  .footer-wrapper {
    @extend %site-width-container;
    background-color: $footer-background;
    padding-top: 20px;

    @include media(tablet) {
      padding-top: 60px;
    }
  }

  .footer-meta a {
    color: $footer-link;

    &:hover {
      color: $footer-link-hover;
    }
  }

  h2 {
    @include core-24;
    font-weight: bold;
    color: $footer-text;
    margin: 0;

    a {
      color: inherit;
    }
  }

  .footer-menu-container {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom:  1em;
      }

      a {
        @include media(tablet) {
          font-size: 19px;
        }
      }
    }
  }

  .footer-meta {
    @extend %contain-floats;
    padding-bottom: 60px;
    clear: both;
    font-size: 0;
    color: $footer-text;

    .footer-meta-inner {
      display: inline-block;
      vertical-align: bottom;
      width: 100%;
      @include core-16;

      @include media(tablet) {
        width: 75%;
      }

      @include ie-lte(7) {
        float: left;
        display: block;
      }

      ul {
        @include core-16($line-height: (24/16), $line-height-640: (24/16));
        display: inline-block;
        list-style: none;
        margin: 0 0 1.5em 0;
        padding: 0;

        @include media(tablet) {
          margin: 0 0 1em 0;
        }

        li {
          display: inline-block;
          margin: 0 15px 0 0;

          @include ie-lte(7) {
            display: inline;
            margin-right: 0;
            padding-right: 15px;
          }
        }
      }

    }

    .copyright {
      @include core-16;

      margin: 30px 0 0 0;
      width: 100%;
      display: block;

      @include media(tablet) {
        display: inline-block;
        text-align: inherit;
        width: 25%;
        padding-top: 15px;
        margin-top: 0;
      }

      @include ie-lte(7) {
        float: right;
        height: 150px;
        width: 24%;
      }

      a {
        display: block;

        background-image: url("../images/govuk-crest.png");
        background-repeat: no-repeat;
        background-position: 50% 0%;

        @include media(tablet) {
          background-position: 100% 0%;
        }

        @include device-pixel-ratio() {
          background-image: url("../images/govuk-crest-2x.png");
          background-size: 125px 102px;
        }

        @include ie(6) {
          background-image: url("../images/govuk-crest-ie.png");
        }

        text-align: center;
        text-decoration: none;

        @include media(tablet) {
          text-align: right;
        }

        padding: 115px 0 0 0;

      }
    }
  }
}
