// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
// endbower

// govuk_frontend_toolkit
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/colours";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/conditionals";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/css3";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/device-pixels";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/grid_layout";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/helpers";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/measurements";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/shims";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/typography";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons";

// base rules
@import "base/fonts";
@import "base/variables";
@import "base/basic";
@import "base/accessibility";
@import "base/headings";

// layout rules
@import "layout/page-container";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";

// modules
@import "modules/heading";
@import "modules/section";
@import "modules/link-list";
@import "modules/help-text";
@import "modules/email-link";
@import "modules/table";


// Other stuff
/*@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
*/
